HH_APPLY_FORCE_MESSAGE=false
HH_APPLY_COVER_LETTER={Здравствуйте|Добрый день}, меня зовут %(first_name)s. Прошу рассмотреть мое резюме "%(resume_title)s" на вакансию "%(vacancy_name)s". С уважением, %(first_name)s.
